.error,.success{
    text-align: center;
}

.error{
    border: 1px solid red;
    color: red;
    background-color: #f9b5af;
    border-radius: 15px;
}

.success{
    border: 1px solid green;
    color: green;
    background-color: #c8f9bc;
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
}

.error ul{
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.posts{
    display: block;
    float: left;
}

.posts .post{
    padding-left: 10px;
    border-left: 2px solid #2b4bab;
    margin-bottom: 20px;
}

.posts .post p{
    overflow: hidden;
    word-wrap: break-word;
}


.posts .post .info{
    color: #9eb6b4;
    font-style: italic;
}

.userfields{
    padding-bottom: 15px;
    border-bottom: 1px solid #6b9dbb;
}
